__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
*.log
.coverage
.pytest_cache/
htmlcov/
.idea/
.vscode/
.cache
.mypy_cache/
.ruff_cache/
build/
dist/
*.egg-info/
*.egg
MANIFEST
.ipynb_checkpoints/
